@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
}


/*  */
/*  */
/*  */
/*  */
/* Parte Superior do Site (Header e Navs) */
#head{
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  margin: 0;
}

/* Parte de cima do Head da Página (Header e Nav da Pág) */
#head > #hsup{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85px;
  background-color: rgb(110, 110, 110);
}



/*  */
/* Cabeçalho da Página(Título e Logo) */
header{
  display: flex;
  flex-direction: row;
  width: 33%;
}

header > a{
  height: 85px;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

header > a > img{
  margin-left: 15%;
  margin-top: 17px;
  height: 50px;
  width: 50px;
}

header > a > h1{
  margin-top: 14px;
  margin-left: 1%;
  height: 35px;
  font-size: 44px;
  font-family: 'Roboto Slab', serif;
}

header > a > p{
  height: 12px;
  margin: 0;
  margin-top: 40px;
  margin-left: 2px;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
}



/*  */
/* Nav da Página */
#nav_pag{  
  display: flex;
  flex-direction: row;
  height: 85px;
  width: 33%;
  margin: 0;
  margin-left: 2%;
}

/*  */
/* Funções disponíveis no cabeçalho da página - pesquisa e login */
#func{
  display: flex;
  flex-direction: row;
  width: 33%;
  height: 100px;
}

#func > #pesquisa{
  display: flex;
  flex-direction: row;
}

#func > #pesquisa > #campo{
  margin-left:30%;
  width:200px;
  height: 25px;
  margin-top: 27px;
  border: none;
  border-radius: 5px;
  background-color: rgb(228, 228, 228);
  color: rgb(78, 78, 78);
}

#func > #pesquisa > #botao{
  margin-top: 25px;
  margin-left: 2px;
  background-color: rgb(110, 110, 110);
  border: none;
  height: 34px;
  width: 34px;
}

#func > #pesquisa > #botao > img{
  height: 30px;
}



/*  */
/* Botão de Login */
#func > #login{
  margin-left: 8%;
  width: 35%;
  height: 85px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#func > #login:hover{
  margin-left: 8%;
  width: 35%;
  height: 85px;
  text-decoration: underline;
  color: white;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
}

#func > #login > div{
  display: flex;
  flex-direction: row;
}

#func > #login > div > img{
  height: 30px;
}

#func > #login > div > div{
  height: 34px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#func > #login > div > div > p{
  text-align: justify;
  height: 25px;
  margin: 0;
  margin-left: 5px;
  
}


#sair button{
  display: flex;
  align-items: center;
  background-color: #ffffff00;
  border: none;
  margin-top: 30%;
}

#sair img{
  height: 32px;
  width: 30px;
  margin: 8px 6px; 
}

#sair img:hover{
  height: 34px;
  width: 32px;
  margin: 7px 5px;
  transition: 200ms;
}


/*  */
/* Parte Inferior do Cabeçalho */
#hinf{
  display: flex;
  flex-direction: row;
  height:15px;
  width: 100%;
  background-color: #ff8400;
}



/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Área de controle da página administrativa */
#nome-pag {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
  
#nome-pag h2 {
  font-size: 34px;
  font-family: "Roboto Slab", serif;
  margin: 0;
  margin: 30px 5px;
}

#nome-pag img {
  height: 32px;
  margin: 34px 0px;
}



#top {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tit {
  height: 50px;
  font-family: "Roboto Slab", serif;
  text-decoration: underline;
  font-size: 24px;
  margin: 0px;
}

#tit h3 {
  margin: 10px;
}

#categ {
  height: 65px;
  width: 100%;
  margin-top: 40px;
}

#nav_site {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  justify-content: center;
}

#nav_site > div {
  color: rgb(78, 78, 78);
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  margin: 10px 5px;
  height: 32px;
  width: 100px;
  padding: 6px;
}

#nav_site > div:hover {
  height: 32px;
  width: 100px;
  padding: 6px;
  border-radius: 5px;
  background-color: #ff840022;
  color: #ff8400de;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  margin: 10px 5px;
  transition: 300ms;
  cursor: pointer;
}

#nav_site > div > p {
  text-align: center;
  margin: 0;
  margin-top: 4px;
}

#nav_site #l1 {
  text-decoration: none;
  color: rgb(78, 78, 78);
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  margin: 10px 5px;
  height: 32px;
  width: 100px;
  padding: 6px;
  padding-top: 4px;
  padding-bottom: 8px;
}

#nav_site > #l1:hover {
  height: 32px;
  width: 100px;
  padding: 6px;
  padding-bottom: 8px;
  padding-top: 4px;
  border-radius: 5px;
  background-color: rgba(255, 132, 0, 0.158);
  color: #ff8400de;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  margin: 10px 5px;
  transition: 300ms;
  cursor: pointer;
}

#nav_site > #l3 {
  height: 32px;
  width: 100px;
  padding: 6px;
  border-radius: 5px;
  background-color: #ff840022;
  color: #ff8400de;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  margin: 10px 5px;
  transition: 300ms;
  cursor: pointer;
}

#linha {
  width: 70%;
  height: 1px;
  background-color: #cccccc;
  margin-top: 8px;
}

#funcoes {
  height: 1400px;
  width: 100%;
  display: flex;
  overflow: hidden;
  visibility: none;
}

.nome-func {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  height: 50px;
  width: 100%;
}

.nome-func h4 {
  margin: 0px;
  width: 300px;
  margin-left: 15%;
  font-weight: 400;
  text-decoration: underline;
}



/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Serviços */
#servic {
  width: 100%;
  height: 1000px;
  display: none;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}

#serv-prest {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#serv-prest #num-serv {
  width: 100%;
  display: flex;
}

#num-serv p {
  margin-left: 15%;
  font-family: "Roboto Slab", serif;
  font-size: 17px;
}

#list-serv {
  list-style-type: none;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serv {
  width: 60%;
  height: 250px;
  display: flex;
  flex-direction: column;
  background-color: #cccccc60;
  margin: 20px 0px;
  border-radius: 3px;
}

.nome-maq {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  font-family: "Roboto Slab", serif;
  font-size: 17px;
  font-weight: 500;
}

.nome-maq p{
  margin: 15px 5px;
}

.info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 110px;
}

.inf1 {
  list-style-type: none;
  width: 50%;
  margin-top: 0px;
}

.inf1 li {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  margin: 15px 0px;
}

.inf1 p {
  margin: 0;
}

.inf1 input{
  width: 150px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  margin: 0;
  box-shadow: 0 0 0 0;
  outline: 0;
}

.inf2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.inf2 p {
  font-weight: 500;
  font-family: "Roboto Slab", serif;
  margin: 0;
  margin-top: 2px;
}

.inf2 > .stat{
  display: flex;
  flex-direction: row;
}

.status {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 1px;
}

.status select{
  height: 25px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  font-family: "Roboto Slab", serif;
  margin-left: 5px;
}

.status img {
  height: 15px;
  margin-top: 5px;
}

.status p {
  margin: 0;
  margin-top: 1px;
  margin-left: 5px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 14px;
}

.inse{
  display: none;
  flex-direction: column;
  height: 50px;
  margin-top: 15px;
  
}

.inse p{
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  font-weight: 400;
}

.inse input{
  width: 150px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  box-shadow: 0 0 0 0;
  outline: 0;
}

.mais-det {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: right;
}

.mais-det .bot-md {
  height: 27px;
  width: 140px;
  background-color: #ff8400;
  color: #ffffff;
  margin-right: 2%;
  margin-top: 4px;
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
}


.bot-md p{
  margin: 0;
  margin-top: 2px;
  margin-left: 5px;
}

.bot-md img {
  height: 20px;
  margin-left: 5px;
  margin-top: 3px;
}






/*  */
/*  */
/*  */
/* Vendas feitas pelo site */
#vend {
  visibility: hidden;
  width: 100%;
  height: 1000px;
  display: none;
  flex-direction: column;
  align-items: center;
}

#vend-comp {
  width: 100%;
  display: flex;
}

#vend-comp p {
  margin-left: 15%;
  font-family: "Roboto Slab", serif;
  font-size: 17px;
}

#list-comp {
  width: 100%;
  height: 1100px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#list-comp ul {
  width: 70%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.prod-vend {
  background-color: #cccccc60;
  width: 90%;
  height: 275px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  margin: 15px 0px;
}

.img-prod {
  width: 25%;
}

.img-prod img {
  width: 95%;
  margin-top: 45px;
  margin-left: 20px;
}

.linha-prod {
  height: 175px;
  margin-top: 50px;
}

.info-vend {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.info-esq {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 50%;
  margin-top: 20px;
}

.nome-prod p {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  margin-left: 5px;
  margin-top: 10px;
}

.info-prod {
  width: 50%;
  height: 225px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.info-prod li {
  display: flex;
  flex-direction: row;
  margin: 15px 0px;
  width: 100%;
}

.npre {
  margin: 0;
  margin-left: 5%;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

.pre {
  margin: 0;
  margin-left: 5px;
  margin-top: 4px;
}

.num-prod {
  margin: 0;
  margin-left: 5%;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

.nprod {
  margin: 0;
  margin-left: 5px;
  margin-top: 4px;
}

.categ-prod {
  margin: 0;
  margin-left: 5%;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

.cprod {
  margin: 0;
  margin-left: 5px;
  margin-top: 4px;
}

.info-dir {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.status-prod {
  width: 100%;
  height: 175px;
  display: flex;
  flex-direction: row;
}

.tit-stat {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  margin: 0;
  margin-top: 20%;
}

.status-prod select {
  font-family: "Roboto Slab", serif;
  height: 25px;
  width: 150px;
  margin: 0;
  margin-top: 20%;
  margin-left: 5px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

.mais-det-prod {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.bot-md-prod {
  height: 27px;
  width: 140px;
  background-color: #ff8400;
  color: #ffffff;
  margin-top: 35px;
  margin-left: 2%;
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
}

.bot-md-prod p {
  margin: 0;
  margin-top: 2px;
  margin-left: 5px;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  cursor: pointer;
}

.bot-md-prod img {
  height: 20px;
  margin-left: 5px;
  margin-top: 3px;
}



/*  */
/*  */
/*  */
/*  */
/* Estoque */
#estq{
  width: 100%;
  height: 1000px;
  display: none;
  flex-direction: column;
  visibility: hidden;
}

#area-pesquisa{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
}

#apoio-pesq{
  width: 15%;
}

#form-pesq{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

#filtro{
  width: 25%;
  height: 180px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

#filtro > p{
  margin: 4px 0px;
  width: 180px;
  text-align: left;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
}

#selec-categ{
  width: 200px;
  height: 100px;
  border-radius: 5px;
  background-color: #e4e4e4;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#selec-categ p{
  width: 90%;
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
}

#selec-categ select{
  height: 25px;
  width: 80%;
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  font-family: "Roboto Slab", serif;
  font-size: 13px;  
}


#pesquisa{
  height: 180px;
  width: 70%; 
  display: flex;
  flex-direction: row;
  align-items: center;
}

#pesquisa input{
  width: 60%;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #a7a7a7;
}


#bot-pesq{
  background-color: #ffffff00;
  height: 30px;
  border: none;
  padding: 0;
  margin-left: 5px;
}

#bot-pesq img{
  height: 28px;
}

#res-pesq{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

#res-pesq ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.estq-prod {
  background-color: #cccccc60;
  width: 60%;
  height: 275px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  margin: 30px 0px;
}

.img-prod {
  width: 25%;
}

.img-prod img {
  width: 95%;
  margin-top: 45px;
  margin-left: 20px;
}

.linha-prod {
  height: 175px;
  margin-top: 50px;
}

.info-vend {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.info-vend form{
  display: flex;
  flex-direction: row;
}

.info-esq {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 50%;
  margin-top: 20px;
}

.nome-prod p {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  margin-left: 5px;
  margin-top: 10px;
}

.info-prod {
  width: 50%;
  height: 225px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.info-prod li {
  display: flex;
  flex-direction: row;
  margin: 15px 0px;
  width: 100%;
}


.npre {
  margin: 0;
  margin-left: 5%;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

.pre {
  margin: 0;
  margin-left: 5px;
  margin-top: 4px;
}

.num-prod {
  margin: 0;
  margin-left: 5%;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

.nprod {
  margin: 0;
  margin-left: 5px;
  margin-top: 4px;
}

.categ-prod {
  margin: 0;
  margin-left: 5%;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

.cprod {
  margin: 0;
  margin-left: 5px;
  margin-top: 4px;
}

.info-dir {
  display: flex;
  flex-direction: column;
  width: 50%;
}


.mais-det-prod {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 120px;
}

.bot-md-prod {
  height: 27px;
  width: 140px;
  background-color: #ff8400;
  color: #ffffff;
  margin-top: 100px;
  margin-left: 1%;
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
}

.bot-md-prod p {
  margin: 0;
  width: 100%;
  margin-top: 3px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  cursor: pointer;
}

.bot-md-prod img {
  height: 20px;
  margin-left: 5px;
  margin-top: 3px;
}


/*  */
/*  */
/*  */
/*  */
/* Cadastro de produtos */
#cad-prod{
  width: 100%;
}

.p{
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto Slab", serif;
}

#tudo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}

#esquerda{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#esquerda2{
  display: flex;
  flex-direction: row;
}

#coluna1{
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

#coluna2{
  display: flex;
  flex-direction: column;
}

#imagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid black;
}

.dentro{
  font-family: "Roboto Slab", serif;
  padding: 4px;
  border-radius: 5px;
  border: 0.5px solid rgb(162, 162, 162); 
  box-shadow: 0 0 0 0; 
  outline: 0;
}

#id-prod{
  width: 300px;
}

#nome{
  width: 300px;
}

#marca{
  width: 300px;
}

#categ-prod{
  width: 200px;
}

#prec{
  width: 200px;
}

#quant{
  width: 200px;
}

#enviar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 230px;
  height: 40px;
}

#cadastrar{
  color: white;
  background-color: #ff8400;
  width: 220px;
  height: 30px;
  border-radius: 4px;
  border: none; 
  transition: 200ms;
  font-size: 16px;
}

#cadastrar:hover{
  width: 225px;
  height: 35px;
  font-size: 17px;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

label {
  border-radius: 4px;
  border: none; 
  transition: 200ms;
  padding: 11px 2px;
  color: white;
  background-color: #ff8400;
  text-align: center;
  cursor: pointer;
}



/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Rodapé do Site */
#rodape {
    height: 550px;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #rodape > h2 {
    font-family: "Roboto Slab", serif;
    font-size: 32px;
    text-decoration: underline;
    font-weight: 400;
  }
  
  #rodape > #rod-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    list-style-type: none;
  }
  
  #rodape > #rod-list > li {
    width: 275px;
    height: 425px;
    margin: 0px 20px;
  }
  
  #rodape > #rod-list > li > h3 {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    color: #ff8400;
    text-decoration: underline black;
  }
  
  #contatos > ul {
    margin: 0;
    padding: 0px;
    list-style-type: none;
    margin-top: 30px;
  }
  
  #contatos > ul > li {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 60px;
    width: 275px;
  }
  
  #contatos > ul > li > a {
    text-decoration: none;
  }
  
  #contatos > ul > li > a > p {
    margin: 0px;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
    color: black;
  }
  
  #contatos > ul > li > a > p:hover {
    margin: 0px;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
    text-decoration: underline;
    color: black;
  }
  
  #contatos > ul > li > img {
    height: 55px;
  }
  
  #sociais > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: 40px;
  }
  
  #sociais > ul > li {
    height: 50px;
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
  }
  
  #sociais > ul > li > img {
    height: 35px;
    margin-top: 15px;
  }
  
  #sociais > ul > li > a {
    margin-top: 21px;
    margin-left: 5px;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
  }
  
  #sociais > ul > li > a:hover {
    margin-top: 21px;
    margin-left: 5px;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    text-decoration: underline;
    color: black;
  }
  
  #info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #info > p {
    text-align: center;
    height: 175px;
    width: 225px;
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    margin: 0px;
    margin-top: 30px;
  }
  
  #info > div {
    height: 75px;
  }
  
  #info > div > button {
    height: 40px;
    width: 100px;
    border: none;
    background-color: #ff8400;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    border-radius: 2px;
    margin-top: 18px;
    transition: 300ms;
  }
  
  #info > div > button:hover {
    height: 43px;
    width: 105px;
    border: none;
    background-color: #ff8400;
    font-size: 15px;
    font-family: "Roboto Slab", serif;
    border-radius: 2px;
    margin-top: 16px;
  }
  
  #info > div > button > a {
    text-decoration: none;
    color: white;
  }
  
  #pagam {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #pagam > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    height: 170px;
  }
  
  #pagam > ul > div {
    display: flex;
    flex-direction: row;
    height: 55px;
  }
  
  #pagam > div {
    height: 75px;
  }
  
  #pagam > div > button {
    height: 40px;
    width: 100px;
    border: none;
    background-color: #ff8400;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    border-radius: 2px;
    margin-top: 18px;
    transition: 300ms;
  }
  
  #pagam > div > button:hover {
    height: 43px;
    width: 105px;
    border: none;
    background-color: #ff8400;
    font-size: 15px;
    font-family: "Roboto Slab", serif;
    border-radius: 2px;
    margin-top: 16px;
  }
  
  #pagam > div > button > a {
    text-decoration: none;
    color: white;
  }
  