@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
}


/*  */
/*  */
/*  */
/*  */
/* Parte Superior do Site (Header e Navs) */
#head{
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  margin: 0;
}

/* Parte de cima do Head da Página (Header e Nav da Pág) */
#head > #hsup{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85px;
  background-color: rgb(110, 110, 110);
}

#cont-sup{
  display: flex;
  flex-direction: row;
  width: 85%;
}


/*  */
/* Cabeçalho da Página(Título e Logo) */
header{
  display: flex;
  flex-direction: row;
  width: 66%;
}

header > a{
  height: 85px;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

header > a > img{
  margin-left: 7%;
  margin-top: 17px;
  height: 50px;
  width: 50px;
}

header > a > h1{
  margin-top: 14px;
  margin-left: 1%;
  height: 35px;
  font-size: 44px;
  font-family: 'Roboto Slab', serif;
}

header > a > p{
  height: 12px;
  margin: 0;
  margin-top: 40px;
  margin-left: 2px;
  font-size: 13px;
  font-family: 'Roboto Slab', serif;
}



/*  */
/* Nav da Página */
#nav_pag{  
  display: flex;
  flex-direction: row;
  height: 85px;
  width: 0%;
  margin: 0;
  margin-left: 2%;
}

/*  */
/* Funções disponíveis no cabeçalho da página - pesquisa e login */
#func{
  display: flex;
  flex-direction: row;
  width: 33%;
  height: 100px;
  justify-content: right;
}

#func > #pesquisa{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#func > #pesquisa > #campo{
  width:200px;
  height: 25px;
  margin-top: 27px;
  border: none;
  border-radius: 5px;
  background-color: rgb(228, 228, 228);
  color: rgb(78, 78, 78);
}

#func > #pesquisa > #botao{
  margin-top: 25px;
  margin-left: 2px;
  background-color: rgb(110, 110, 110);
  border: none;
  height: 34px;
  width: 34px;
}

#func > #pesquisa > #botao > img{
  height: 30px;
}


#div-login{
  width: 15%;
  display: flex;
  flex-direction:row;
}

/*  */
/* Botão de Login */
#login{
  width: 100%;
  height: 85px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#login:hover{
  width: 100%;
  height: 85px;
  text-decoration: underline;
  color: white;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
}

#login > div{
  display: flex;
  flex-direction: row;
}

#login > div > img{
  height: 30px;
}

#login > div > div{
  height: 34px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login > div > div > p{
  text-align: justify;
  height: 25px;
  margin: 0;
  margin-left: 5px;
  
}


#sair button{
  display: flex;
  align-items: center;
  background-color: #ffffff00;
  border: none;
  margin-top: 30%;
}

#sair img{
  height: 32px;
  width: 30px;
  margin: 8px 6px; 
}

#sair img:hover{
  height: 34px;
  width: 32px;
  margin: 7px 5px;
  transition: 200ms;
}


/*  */
/* Parte Inferior do Cabeçalho */
#hinf{
  display: flex;
  flex-direction: row;
  height:15px;
  width: 100%;
  background-color: #ff8400;
}



/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Página de Compra */
p,
h3,
h2 {
  font-family: "Roboto Slab", serif;
}

ul {
  padding: 0px;
}

#geral {
  background-color: rgb(228, 228, 228);
  padding-bottom: 50px;
}

#inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(228, 228, 228);
}

#div-geral {
  background-color: rgb(228, 228, 228);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
}

#engrenagem {
  height: 32px;
  padding-right: 5px;
}

#form-car{
  display: flex;
  flex-direction: row;
}

#tudo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(228, 228, 228);
}

#prod {
  border: 1px solid rgb(206, 206, 206);
  margin-right: 100px;
}

#cima {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(206, 206, 206);
  background-color: rgb(206, 206, 206);
  font-weight: 600;
}

#baixo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ul-grupo{
  margin: 0px;
}

.grupo {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding:0px;
  height: 150px;
}

.linha {
  display: flex;
  flex-direction: row;
}

.pri {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.seg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
}
.ter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
}

.quar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
}

#mais-menos {
  margin-top: 16.5px;
}

#mais {
  color: white;
  background-color: #ff8400;
  margin: 1px;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  border: none;
  transition: 200ms;
  font-size: 16px;
  text-align: center;
}

#mais:hover {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 0px;
}

#div-bot-mais {
  width: 26px;
  height: 26px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
}

#quant {
  padding-bottom: 2px;
}

#quant > input {
  border-radius: 4px;
  width: 22px;
  height: 20px;
  border: none;
  text-align: center;
  font-family: "Roboto Slab", serif;
}

#menos {
  color: white;
  background-color: #ff8400;
  margin: 1px;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  border: none;
  transition: 200ms;
  font-size: 16px;
  text-align: center;
}

#menos:hover {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 0px;
}

#div-bot-menos {
  width: 26px;
  height: 26px;
  margin-left: 3px;
  display: flex;
  justify-content: center;
}

#remover{
  color: white;
  background-color: #ff8400;
  padding-bottom: 2px;
  margin: 1px;
  width: 90px;
  height: 21px;
  border-radius: 4px;
  border: none;
  transition: 200ms;
  font-size: 14px;
  text-align: center;
  font-family: "Roboto Slab", serif;
}

#remover:hover {
  cursor: pointer;
  width: 100px;
  height: 25px;
  margin: 0px;
}

#remover-form {
  width: 100px;
  height: 25px;
  margin-top: 16.5px;
  margin-left: 3px;
  display: flex;
  justify-content: center;
}

#img-prod {
  width: 150px;
  margin-right: 5px;
}

.link {
  text-decoration: none;
  color: black;
  margin: 0px;
}

.nome {
  margin: 0px;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  width: 175px;
  margin-top: 5px;
}

.nome:hover {
  text-decoration: underline;
}

#pre_ori {
  font-family: "Roboto Slab", serif;
  font-size: 10px;
  width: 175px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: line-through;
}

#pre_atu {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 500;
  width: 175px;
  margin-top: 5px;
  margin-bottom: 0px;
}

#final {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 33.5px;
}

#sub2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  color: rgb(114, 114, 114);
  border-bottom: 1px solid black;
  font-weight: 400;
}

#sub2 > p {
  margin: 0px;
  padding-bottom: 3px;
}

#subtotal {
  padding-left: 80px;
}

#tot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 19px;
  margin-top: 3px;
  font-weight: 500;
}

#tot > p {
  margin: 0px;
}

#total {
  padding-left: 80px;
}

#finalizar {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#finalizar > a {
  text-decoration: none;
  color: rgb(40, 136, 201);
  padding-bottom: 3px;
}

#finalizar > a:hover {
  text-decoration: underline;
}

#bot-final{
  background-color: #ff8400;
  margin: 2px 3px;
  width: 250px;
  height: 50px;
  border-radius: 4px;
  border: none;
  transition: 200ms;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  color: white;
  font-weight: 400;
}

#bot-final:hover {
  background-color: #ff8400;
  margin: 0px;
  width: 256px;
  height: 54px;
  border-radius: 4px;
  border: none;
  transition: 200ms;
  font-size: 17px;
  font-family: "Roboto Slab", serif;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

#div-bot-final {
  width: 256px;
  height: 54px;
  display: flex;
  justify-content: center;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Rodapé do Site */
#rodape {
  height: 550px;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#rodape > h2 {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  text-decoration: underline;
  font-weight: 400;
}

#rodape > #rod-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  list-style-type: none;
}

#rodape > #rod-list > li {
  width: 275px;
  height: 425px;
  margin: 0px 20px;
}

#rodape > #rod-list > li > h3 {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  color: #ff8400;
  text-decoration: underline black;
}

#contatos > ul {
  margin: 0;
  padding: 0px;
  list-style-type: none;
  margin-top: 30px;
}

#contatos > ul > li {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: 60px;
  width: 275px;
}

#contatos > ul > li > a {
  text-decoration: none;
}

#contatos > ul > li > a > p {
  margin: 0px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 10px;
  color: black;
}

#contatos > ul > li > a > p:hover {
  margin: 0px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 10px;
  text-decoration: underline;
  color: black;
}

#contatos > ul > li > img {
  height: 55px;
}

#sociais > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  margin-top: 40px;
}

#sociais > ul > li {
  height: 50px;
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
}

#sociais > ul > li > img {
  height: 35px;
  margin-top: 15px;
}

#sociais > ul > li > a {
  margin-top: 21px;
  margin-left: 5px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

#sociais > ul > li > a:hover {
  margin-top: 21px;
  margin-left: 5px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  text-decoration: underline;
  color: black;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info > p {
  text-align: center;
  height: 175px;
  width: 225px;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  margin: 0px;
  margin-top: 30px;
}

#info > div {
  height: 75px;
}

#info > div > button {
  height: 40px;
  width: 100px;
  border: none;
  background-color: #ff8400;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  border-radius: 2px;
  margin-top: 18px;
  transition: 300ms;
}

#info > div > button:hover {
  height: 43px;
  width: 105px;
  border: none;
  background-color: #ff8400;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  border-radius: 2px;
  margin-top: 16px;
}

#info > div > button > a {
  text-decoration: none;
  color: white;
}

#pagam {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pagam > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 170px;
}

#pagam > ul > div {
  display: flex;
  flex-direction: row;
  height: 55px;
}

#pagam > div {
  height: 75px;
}

#pagam > div > button {
  height: 40px;
  width: 100px;
  border: none;
  background-color: #ff8400;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  border-radius: 2px;
  margin-top: 18px;
  transition: 300ms;
}

#pagam > div > button:hover {
  height: 43px;
  width: 105px;
  border: none;
  background-color: #ff8400;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  border-radius: 2px;
  margin-top: 16px;
}

#pagam > div > button > a {
  text-decoration: none;
  color: white;
}
