@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600&display=swap');


@media (min-width: 900px) {


  html{
    scroll-behavior: smooth;
  }
  
  body{
    margin: 0;
    padding: 0;
  }
  
  
  /*  */
  /*  */
  /*  */
  /*  */
  /* Parte Superior do Site (Header e Navs) */
  #head{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    margin: 0;
  }
    
  /* Parte de cima do Head da Página (Header e Nav da Pág) */
  #head > #hsup{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85px;
    background-color: rgb(110, 110, 110);
  }
    
    #cont-sup{
    display: flex;
    flex-direction: row;
    width: 85%;
    }
    
    
    /*  */
    /* Cabeçalho da Página(Título e Logo) */
  header{
    display: flex;
    flex-direction: row;
    width: 66%;
  }
    
  header > a{
    height: 85px;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
  }
    
  header > a > img{
    margin-left: 7%;
    margin-top: 17px;
    height: 50px;
    width: 50px;
  }
    
  header > a > h1{
    margin-top: 14px;
    margin-left: 1%;
    height: 35px;
    font-size: 44px;
    font-family: 'Roboto Slab', serif;
  }
    
  header > a > p{
    height: 12px;
    margin: 0;
    margin-top: 40px;
    margin-left: 2px;
    font-size: 13px;
    font-family: 'Roboto Slab', serif;
  }
    
    
    
  /*  */
  /* Nav da Página */
  #nav_pag{  
    display: flex;
    flex-direction: row;
    height: 85px;
    width: 0%;
    margin: 0;
    margin-left: 2%;
  }
    
  /*  */
  /* Funções disponíveis no cabeçalho da página - pesquisa e login */
  #func{
    display: flex;
    flex-direction: row;
    width: 33%;
    height: 100px;
    justify-content: right;
  }
    
  #func > #pesquisa{
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
    
  #func > #pesquisa > #campo{
    width:200px;
    height: 25px;
    margin-top: 27px;
    border: none;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    color: rgb(78, 78, 78);
  }
    
  #func > #pesquisa > #botao{
    margin-top: 25px;
    margin-left: 2px;
    background-color: rgb(110, 110, 110);
    border: none;
    height: 34px;
    width: 34px;
  }
  
  #func > #pesquisa > #botao > img{
    height: 30px;
  }
    
    
  #div-login{
    width: 15%;
    display: flex;
    flex-direction:row;
  }
    
  /*  */
  /* Botão de Login */
  #login{
    width: 100%;
    height: 85px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
    
  #login:hover{
    width: 100%;
    height: 85px;
    text-decoration: underline;
    color: white;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
  }
    
  #login > div{
    display: flex;
    flex-direction: row;
  }
    
  #login > div > img{
    height: 30px;
  }
    
  #login > div > div{
    height: 34px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  #login > div > div > p{
    text-align: justify;
    height: 25px;
    margin: 0;
    margin-left: 5px;
    
  }
    
    
  #sair button{
    display: flex;
    align-items: center;
    background-color: #ffffff00;
    border: none;
    margin-top: 30%;
  }
    
  #sair img{
    height: 32px;
    width: 30px;
    margin: 8px 6px; 
  }
    
  #sair img:hover{
    height: 34px;
    width: 32px;
    margin: 7px 5px;
    transition: 200ms;
  }
    
    
  /*  */
  /* Parte Inferior do Cabeçalho */
  #hinf{
    display: flex;
    flex-direction: row;
    height:15px;
    width: 100%;
    background-color: #ff8400;
  }
    
  
  
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  #cont{
    width: 100%;
    height: 1325px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #tit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
  }
  
  #tit h2{
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    margin: 0;
    margin-left: 5px;
  }
  
  #tit img{
    height: 38px;
    margin-top: 4px;
  }
  
  #linha{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 65px;
  }
  
  #linha hr{
    width: 65%;
    height: 1px;
    background-color: #949494;
  }
  
  #gp1{
    width: 100%;
    height: 675px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  #gp1 h3{
    font-family: 'Roboto Slab', serif;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    width: 90%;
    text-decoration: underline;
    margin: 20px 0px;
  }

  #cont-gp{
    display: flex;
    flex-direction: row;
  }
  
  #pesq{
    width: 65%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #pesq p{
    width: 80%;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    text-align: center;
  }
  
  #pdir{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 325px;
    width: 35%;
  }
  
  #pdir img{
    height: 275px;
  }
  
  #gp2{
    height: 675px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(75, 75, 75);
  }

  #gp2 h3{
    font-family: 'Roboto Slab', serif;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    width: 75%;
    color: #fcfcfc;
    text-decoration: underline;
    margin: 20px 0px;
    margin-top: 50px;
    margin-left: 25%;
  }
  
  #pesq2{
    width: 35%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #pesq2 img{
    height: 250px;
  }
  
  #pdir2{
    width: 65%;
    height: 350px;
  }
  
  #tgp{
    height: 75px;
  }
  
  
  
  #pdir2 p{
    width: 80%;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    text-align: center;
    color: #f5f5f5;
    margin-top: 100px;
  }
  
}



@media (max-width: 440px) {
  
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  #cont{
    width: 100%;
    height: 852px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #tit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
  }
  
  #tit h2{
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    margin: 0;
    margin-left: 5px;
  }
  
  #tit img{
    height: 28px;
    margin-top: 3px;
  }
  
  #linha{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  #linha hr{
    width: 65%;
    height: 1px;
    background-color: #949494;
  }
  
  #gp1{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  #gp1 h3{
    font-family: 'Roboto Slab', serif;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    width: 90%;
    text-decoration: underline;
    margin-left: 5%;
  }
  #cont-gp{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  
  #pesq{
    width: 70%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }
  
  
  #pesq p{
    width: 90%;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    text-align: center;
  }
  
  #pdir{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 30%;
  }
  
  #pdir img{
    height: 100px;
  }
  
  #gp2{
    height: 375px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(75, 75, 75);
  }
  
  #gp2 h3{
    font-family: 'Roboto Slab', serif;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 35px;
    color: #fcfcfc;
    text-decoration: underline;
  }   
  
  #pesq2{
    width: 35%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #pesq2 img{
    height: 100px;
  }
  
  #pdir2{
    width: 65%;
    height: 250px;
  }
  
  
  #pdir2 p{
    width: 95%;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    text-align: center;
    color: #f5f5f5;
    margin-top: 35px;
  }
  
}