@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
}


/*  */
/*  */
/*  */
/*  */
/* Parte Superior do Site (Header e Navs) */
#head{
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  margin: 0;
}

/* Parte de cima do Head da Página (Header e Nav da Pág) */
#head > #hsup{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85px;
  background-color: rgb(110, 110, 110);
}



/*  */
/* Cabeçalho da Página(Título e Logo) */
header{
  display: flex;
  flex-direction: row;
  width: 33%;
}

header > a{
  height: 85px;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

header > a > img{
  margin-left: 15%;
  margin-top: 17px;
  height: 50px;
  width: 50px;
}

header > a > h1{
  margin-top: 14px;
  margin-left: 1%;
  height: 35px;
  font-size: 44px;
  font-family: 'Roboto Slab', serif;
}

header > a > p{
  height: 12px;
  margin: 0;
  margin-top: 40px;
  margin-left: 2px;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
}



/*  */
/* Nav da Página */
#nav_pag{  
  display: flex;
  flex-direction: row;
  height: 85px;
  width: 33%;
  margin: 0;
  margin-left: 2%;
}

/*  */
/* Funções disponíveis no cabeçalho da página - pesquisa e login */
#func{
  display: flex;
  flex-direction: row;
  width: 33%;
  height: 100px;
}

#func > #pesquisa{
  display: flex;
  flex-direction: row;
}

#func > #pesquisa > #campo{
  margin-left:30%;
  width:200px;
  height: 25px;
  margin-top: 27px;
  border: none;
  border-radius: 5px;
  background-color: rgb(228, 228, 228);
  color: rgb(78, 78, 78);
}

#func > #pesquisa > #botao{
  margin-top: 25px;
  margin-left: 2px;
  background-color: rgb(110, 110, 110);
  border: none;
  height: 34px;
  width: 34px;
}

#func > #pesquisa > #botao > img{
  height: 30px;
}



/*  */
/* Botão de Login */
#func > #login{
  margin-left: 8%;
  width: 35%;
  height: 85px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#func > #login:hover{
  margin-left: 8%;
  width: 35%;
  height: 85px;
  text-decoration: underline;
  color: white;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
}

#func > #login > div{
  display: flex;
  flex-direction: row;
}

#func > #login > div > img{
  height: 30px;
}

#func > #login > div > div{
  height: 34px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#func > #login > div > div > p{
  text-align: justify;
  height: 25px;
  margin: 0;
  margin-left: 5px;
  
}


#sair button{
  display: flex;
  align-items: center;
  background-color: #ffffff00;
  border: none;
  margin-top: 30%;
}

#sair img{
  height: 32px;
  width: 30px;
  margin: 8px 6px; 
}

#sair img:hover{
  height: 34px;
  width: 32px;
  margin: 7px 5px;
  transition: 200ms;
}


/*  */
/* Parte Inferior do Cabeçalho */
#hinf{
  display: flex;
  flex-direction: row;
  height:15px;
  width: 100%;
  background-color: #ff8400;
}





#area-serv{
  height: 2500px;
  width: 100%;
}


#nome-pag {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#nome-pag h2 {
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  margin: 0;
  margin: 30px 5px;
}

#nome-pag img {
  height: 32px;
  margin: 34px 0px;
}



#linha{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 65px;
}

#linha hr{
  width: 65%;
  height: 1px;
  background-color: #949494;
}








#cont{
  width: 100%;
  height: 2325px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

#tit h2{
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  margin: 0;
  margin-left: 5px;
}

#tit img{
  height: 38px;
  margin-top: 4px;
}

#linha{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 65px;
}

#linha hr{
  width: 65%;
  height: 1px;
  background-color: #949494;
}

#gp1{
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

#pesq{
  width: 65%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pesq h3{
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  width: 90%;
  text-decoration: underline;
}

#pesq p{
  width: 80%;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  text-align: center;
}

#pdir{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 35%;
}

#pdir img{
  height: 250px;
}

#gp2{
  height: 550px;
  width: 100%;
  display: flex;
  background-color: rgb(75, 75, 75);
}

#pesq2{
  width: 35%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pesq2 img{
  height: 250px;
}

#pdir2{
  width: 65%;
  height: 550px;
}

#tgp{
  height: 75px;
}

#pdir2 h3{
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  width: 90%;
  color: #fcfcfc;
  text-decoration: underline;
}

#pdir2 p{
  width: 80%;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  text-align: center;
  color: #f5f5f5;
  margin-top: 125px;
}





#gp3{
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

#pesq3{
  width: 65%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pesq3 h3{
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  width: 90%;
  text-decoration: underline;
}

#pesq3 p{
  width: 80%;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  text-align: center;
}

#pdir3{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 35%;
}

#pdir3 img{
  height: 250px;
}









#gp4{
  height: 550px;
  width: 100%;
  display: flex;
  background-color: rgb(75, 75, 75);
}

#pesq4{
  width: 35%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pesq4 img{
  height: 250px;
}

#pdir4{
  width: 65%;
  height: 550px;
}

#tgp4{
  height: 75px;
}

#pdir4 h3{
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  width: 90%;
  color: #fcfcfc;
  text-decoration: underline;
}

#pdir4 p{
  width: 80%;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  text-align: center;
  color: #f5f5f5;
  margin-top: 125px;
}





/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Rodapé do Site */
#rodape {
    height: 550px;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #rodape > h2 {
    font-family: "Roboto Slab", serif;
    font-size: 32px;
    text-decoration: underline;
    font-weight: 400;
  }
  
  #rodape > #rod-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    list-style-type: none;
  }
  
  #rodape > #rod-list > li {
    width: 275px;
    height: 425px;
    margin: 0px 20px;
  }
  
  #rodape > #rod-list > li > h3 {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    color: #ff8400;
    text-decoration: underline black;
  }
  
  #contatos > ul {
    margin: 0;
    padding: 0px;
    list-style-type: none;
    margin-top: 30px;
  }
  
  #contatos > ul > li {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 60px;
    width: 275px;
  }
  
  #contatos > ul > li > a {
    text-decoration: none;
  }
  
  #contatos > ul > li > a > p {
    margin: 0px;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
    color: black;
  }
  
  #contatos > ul > li > a > p:hover {
    margin: 0px;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
    text-decoration: underline;
    color: black;
  }
  
  #contatos > ul > li > img {
    height: 55px;
  }
  
  #sociais > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: 40px;
  }
  
  #sociais > ul > li {
    height: 50px;
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
  }
  
  #sociais > ul > li > img {
    height: 35px;
    margin-top: 15px;
  }
  
  #sociais > ul > li > a {
    margin-top: 21px;
    margin-left: 5px;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
  }
  
  #sociais > ul > li > a:hover {
    margin-top: 21px;
    margin-left: 5px;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    text-decoration: underline;
    color: black;
  }
  
  #info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #info > p {
    text-align: center;
    height: 175px;
    width: 225px;
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    margin: 0px;
    margin-top: 30px;
  }
  
  #info > div {
    height: 75px;
  }
  
  #info > div > button {
    height: 40px;
    width: 100px;
    border: none;
    background-color: #ff8400;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    border-radius: 2px;
    margin-top: 18px;
    transition: 300ms;
  }
  
  #info > div > button:hover {
    height: 43px;
    width: 105px;
    border: none;
    background-color: #ff8400;
    font-size: 15px;
    font-family: "Roboto Slab", serif;
    border-radius: 2px;
    margin-top: 16px;
  }
  
  #info > div > button > a {
    text-decoration: none;
    color: white;
  }
  
  #pagam {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #pagam > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    height: 170px;
  }
  
  #pagam > ul > div {
    display: flex;
    flex-direction: row;
    height: 55px;
  }
  
  #pagam > div {
    height: 75px;
  }
  
  #pagam > div > button {
    height: 40px;
    width: 100px;
    border: none;
    background-color: #ff8400;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    border-radius: 2px;
    margin-top: 18px;
    transition: 300ms;
  }
  
  #pagam > div > button:hover {
    height: 43px;
    width: 105px;
    border: none;
    background-color: #ff8400;
    font-size: 15px;
    font-family: "Roboto Slab", serif;
    border-radius: 2px;
    margin-top: 16px;
  }
  
  #pagam > div > button > a {
    text-decoration: none;
    color: white;
  }
  