@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600&display=swap');



#area-serv{
  height: 2500px;
  width: 100%;
}


#nome-pag {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#nome-pag h2 {
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  margin: 0;
  margin: 30px 5px;
}

#nome-pag img {
  height: 32px;
  margin: 34px 0px;
}



#linha{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 65px;
}

#linha hr{
  width: 65%;
  height: 1px;
  background-color: #949494;
}








#cont{
  width: 100%;
  height: 2325px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

#tit h2{
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  margin: 0;
  margin-left: 5px;
}

#tit img{
  height: 38px;
  margin-top: 4px;
}

#linha{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 65px;
}

#linha hr{
  width: 65%;
  height: 1px;
  background-color: #949494;
}

#gp1{
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

#pesq{
  width: 65%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pesq h3{
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  width: 90%;
  text-decoration: underline;
}

#pesq p{
  width: 80%;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  text-align: center;
}

#pdir{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 35%;
}

#pdir img{
  height: 250px;
}

#gp2{
  height: 550px;
  width: 100%;
  display: flex;
  background-color: rgb(75, 75, 75);
}

#pesq2{
  width: 35%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pesq2 img{
  height: 250px;
}

#pdir2{
  width: 65%;
  height: 550px;
}

#tgp{
  height: 75px;
}

#pdir2 h3{
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  width: 90%;
  color: #fcfcfc;
  text-decoration: underline;
}

#pdir2 p{
  width: 80%;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  text-align: center;
  color: #f5f5f5;
  margin-top: 125px;
}





#gp3{
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

#pesq3{
  width: 65%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pesq3 h3{
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  width: 90%;
  text-decoration: underline;
}

#pesq3 p{
  width: 80%;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  text-align: center;
}

#pdir3{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 35%;
}

#pdir3 img{
  height: 250px;
}









#gp4{
  height: 550px;
  width: 100%;
  display: flex;
  background-color: rgb(75, 75, 75);
}

#pesq4{
  width: 35%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pesq4 img{
  height: 250px;
}

#pdir4{
  width: 65%;
  height: 550px;
}

#tgp4{
  height: 75px;
}

#pdir4 h3{
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  width: 90%;
  color: #fcfcfc;
  text-decoration: underline;
}

#pdir4 p{
  width: 80%;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  text-align: center;
  color: #f5f5f5;
  margin-top: 125px;
}



