<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/kage.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/admin.css">
    <title>Administrativo</title>
</head>
<body>
    <div id="head">
        <div id="hsup">
          <header>
            <a href="/">
              <img src="../static/img/engrenagens.png" alt="Imagem da Logo" />
              <h1>Kage</h1>
              <p>- COMÉRCIO E MANUTENÇÃO</p>
            </a>
          </header>
          <div id="nav_pag"></div>
          <div id="func">
          </div>
        </div>
        <div id="hinf"></div>
      </div>
      <section>
        <div id="nome-pag">
          <img src="../static/img/engrenagem.png" alt="" />
          <h2>Administrativo</h2>
        </div>
        <div id="func-admin">
          <div id="top">
            <div id="tit">
              <h3>Painel de Controle</h3>
            </div>
            <div id="categ">
              <div id="nav_site">
                <div id="l3" href="">
                  <p>Serviços</p>
                </div>
                <div id="l2" href="">
                  <p>Vendas</p>
                </div>
                <div id="l4" href="">
                  <p>Estoque</p>
                </div>
                <div id="l1" href="">
                  <p style="margin: 0px; font-size: 14px">Cadastrar Produtos</p>
                </div>
              </div>
            </div>
            <hr id="linha" />
          </div>
          <div id="funcoes">
            <div id="servic">
              <div class="nome-func">
                <h4>Serviços</h4>
              </div>
              <div id="serv-prest">
                <div id="num-serv">
                  <p>Serviços sendo prestados:</p>
                </div>
                <ul id="list-serv">
                  <li class="serv">
                    <div class="nome-maq">
                      <p>Nome do Cliente</p><p>-</p>
                      <p>Modelo da Máquina</p>
                    </div>
                    <form action="" method="post">
                      <div class="info">
                        <ul class="inf1">
                          <li>
                            <p>Inserir Categoria:</p>
                            <input type="text">
                          </li>
                          <li>
                            <p>Número da OS:</p>
                            <input type="text">
                          </li>
                        </ul>
                        <div class="inf2">
                          <div class="stat">
                            <p>Status:</p>
                            <div class="status">
                              <img src="../static/img/circulo-vermei.png" alt="">
                              <select name="op-status" id="selec-status">
                                <option value=""><p>Em Avaliação</p></option>
                                <option value=""><p>Orçamento pronto</p></option>
                                <option value=""><p>Orçamento aprovado</p></option>
                                <option value=""><p>Em Manutenção</p></option>
                                <option value=""><p>Manutenção Concluída</p></option>
                                <option value=""><p>Serviço Concluído</p></option>
                              </select>
                            </div>
                          </div>
                          <div class="inse">
                            <p>Inserir Valor:</p>
                            <input type="text">
                          </div>
                        </div>
                        <div id="inf3">
                          
                        </div>
                      </div>
                      <div class="mais-det">
                        <div class="bot-md">
                          <p>Mais Detalhes</p>
                          <img src="../static/img/seta-baixo.png" alt="">
                        </div>
                        <input type="submit" class="bot-md" value="Aplicar Alteração">
                      </div>
                    </form>
                  </li>
                  <li class="serv">
                    <div class="nome-maq">
                      <p>Nome do Cliente</p><p>-</p>
                      <p>Modelo da Máquina</p>
                    </div>
                    <form action="" method="post">
                      <div class="info">
                        <ul class="inf1">
                          <li>
                            <p>Inserir Categoria:</p>
                            <input type="text">
                          </li>
                          <li>
                            <p>Número da OS:</p>
                            <input type="text">
                          </li>
                        </ul>
                        <div class="inf2">
                          <div class="stat">
                            <p>Status:</p>
                            <div class="status">
                              <img src="../static/img/circulo-vermei.png" alt="">
                              <select name="op-status" id="selec-status">
                                <option value=""><p>Em Avaliação</p></option>
                                <option value=""><p>Orçamento pronto</p></option>
                                <option value=""><p>Orçamento aprovado</p></option>
                                <option value=""><p>Em Manutenção</p></option>
                                <option value=""><p>Manutenção Concluída</p></option>
                                <option value=""><p>Serviço Concluído</p></option>
                              </select>
                            </div>
                          </div>
                          <div class="inse">
                            <p>Inserir Valor:</p>
                            <input type="text">
                          </div>
                        </div>
                        <div id="inf3">
                          
                        </div>
                      </div>   
                      <div class="mais-det">
                        <div class="bot-md">
                          <p>Mais Detalhes</p>
                          <img src="../static/img/seta-baixo.png" alt="">
                        </div>
                        <input type="submit" class="bot-md" value="Aplicar Alteração">
                      </div>
                    </form>
                  </li>
                  <li class="serv">
                    <div class="nome-maq">
                      <p>Nome do Cliente</p><p>-</p>
                      <p>Modelo da Máquina</p>
                    </div>
                    <form action="" method="post">
                      <div class="info">
                        <ul class="inf1">
                          <li>
                            <p>Inserir Categoria:</p>
                            <input type="text">
                          </li>
                          <li>
                            <p>Número da OS:</p>
                            <input type="text">
                          </li>
                        </ul>
                        <div class="inf2">
                          <div class="stat">
                            <p>Status:</p>
                            <div class="status">
                              <img src="../static/img/circulo-vermei.png" alt="">
                              <select name="op-status" id="selec-status">
                                <option value=""><p>Em Avaliação</p></option>
                                <option value=""><p>Orçamento pronto</p></option>
                                <option value=""><p>Orçamento aprovado</p></option>
                                <option value=""><p>Em Manutenção</p></option>
                                <option value=""><p>Manutenção Concluída</p></option>
                                <option value=""><p>Serviço Concluído</p></option>
                              </select>
                            </div>
                          </div>
                          <div class="inse">
                            <p>Inserir Valor:</p>
                            <input type="text">
                          </div>
                        </div>
                        <div id="inf3">

                        </div>
                      </div>
                      <div class="mais-det">
                        <div class="bot-md">
                          <p>Mais Detalhes</p>
                          <img src="../static/img/seta-baixo.png" alt="">
                        </div>
                        <input type="submit" class="bot-md" value="Aplicar Alteração">
                      </div>
                    </form>
                  </li>
                </ul>
              </div>
            </div>
            <div id="vend">
              <div class="nome-func">
                <h4>Vendas</h4>
              </div>
              <div id="vend-comp">
                <p>Últimas Compras:</p>
              </div>
              <div id="list-comp">
                <ul>
                  <li class="prod-vend">
                    <div class="img-prod">
                      <img src="../static/img/audaz-removebg-preview.png" alt="" />
                    </div>
                    <hr class="linha-prod" />
                    <div class="info-vend">
                      <div class="info-esq">
                        <div class="nome-prod">
                          <p>Nome do Produto</p>
                        </div>
                        <ul class="info-prod">
                          <li>
                            <p class="npre">Valor Total :</p>
                            <p class="pre">R$ 000,00</p>
                          </li>
                          <li>
                            <p class="num-prod">Unidades:</p>
                            <p class="nprod">1</p>
                          </li>
                          <li>
                            <p class="categ-prod">Categoria:</p>
                            <p class="cprod">Compressor</p>
                          </li>
                        </ul>
                      </div>
                      <div class="info-dir">
                        <form action="">
                          <div class="status-prod">
                            <p class="tit-stat">Status:</p>
                            <select name="" id="">
                              <option value="">Em análise</option>
                              <option value="">Pagamento Confirmado</option>
                              <option value="">Entregue a transportadora</option>
                              <option value="">Saiu para Entrega</option>
                              <option value="">Entregue</option>
                            </select>
                          </div>
                          <div class="mais-det-prod">
                            <div class="bot-md-prod" id="bot1-prod">
                              <p>Mais Detalhes</p>
                              <img src="../static/img/seta-baixo.png" alt="seta" />
                            </div>
                            <input type="text" class="bot-md-prod" value="Aplicar Alteração">
                          </div>
                        </form>
                      </div>
                    </div>
                  </li>
                  <li class="prod-vend">
                    <div class="img-prod">
                      <img src="../static/img/audaz-removebg-preview.png" alt="" />
                    </div>
                    <hr class="linha-prod" />
                    <div class="info-vend">
                      <div class="info-esq">
                        <div class="nome-prod">
                          <p>Nome do Produto</p>
                        </div>
                        <ul class="info-prod">
                          <li>
                            <p class="npre">Valor Total:</p>
                            <p class="pre">R$ 000,00</p>
                          </li>
                          <li>
                            <p class="num-prod">Unidades:</p>
                            <p class="nprod">1</p>
                          </li>
                          <li>
                            <p class="categ-prod">Categoria:</p>
                            <p class="cprod">Compressor</p>
                          </li>
                        </ul>
                      </div>
                      <div class="info-dir">
                        <form action="">
                          <div class="status-prod">
                            <p class="tit-stat">Status:</p>
                            <select name="" id="">
                              <option value="">Em análise</option>
                              <option value="">Pagamento Confirmado</option>
                              <option value="">Entregue a transportadora</option>
                              <option value="">Saiu para Entrega</option>
                              <option value="">Entregue</option>
                            </select>
                          </div>
                          <div class="mais-det-prod">
                            <div class="bot-md-prod" id="bot1-prod">
                              <p>Mais Detalhes</p>
                              <img src="../static/img/seta-baixo.png" alt="seta" />
                            </div>
                            <input type="text" class="bot-md-prod" value="Aplicar Alteração">
                          </div>
                        </form>
                      </div>
                    </div>
                  </li>
                  <li class="prod-vend">
                    <div class="img-prod">
                      <img src="../static/img/audaz-removebg-preview.png" alt="" />
                    </div>
                    <hr class="linha-prod" />
                    <div class="info-vend">
                      <div class="info-esq">
                        <div class="nome-prod">
                          <p>Nome do Produto</p>
                        </div>
                        <ul class="info-prod">
                          <li>
                            <p class="npre">Valor Total:</p>
                            <p class="pre">R$ 000,00</p>
                          </li>
                          <li>
                            <p class="num-prod">Unidades:</p>
                            <p class="nprod">1</p>
                          </li>
                          <li>
                            <p class="categ-prod">Categoria:</p>
                            <p class="cprod">Compressor</p>
                          </li>
                        </ul>
                      </div>
                      <div class="info-dir">
                        <form action="">
                          <div class="status-prod">
                            <p class="tit-stat">Status:</p>
                            <select name="" id="">
                              <option value="">Em análise</option>
                              <option value="">Pagamento Confirmado</option>
                              <option value="">Entregue a transportadora</option>
                              <option value="">Saiu para Entrega</option>
                              <option value="">Entregue</option>
                            </select>
                          </div>
                          <div class="mais-det-prod">
                            <div class="bot-md-prod" id="bot1-prod">
                              <p>Mais Detalhes</p>
                              <img src="../static/img/seta-baixo.png" alt="seta" />
                            </div>
                            <input type="text" class="bot-md-prod" value="Aplicar Alteração">
                          </div>
                        </form>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div id="estq">
              <div class="nome-func">
                <h4>Estoque</h4>
              </div>
              <div id="area-pesquisa">
                <div id="apoio-pesq">

                </div>
                <form action="" id="form-pesq">
                  <div id="filtro">
                    <p>Filtro</p>
                    <div id="selec-categ">
                      <p>Categoria:</p>
                      <select name="" id="">
                        <option value="" disabled selected>Selecionar Categoria</option>
                        <option value="">Compressor</option>
                        <option value="">Lavadora</option>
                        <option value="">Propulsora</option>
                        <option value="">Motor</option>
                        <option value="">Ferramenta</option>
                      </select>
                    </div>
                  </div>
                  <div id="pesquisa">
                    <input type="text" placeholder="Pesquisar">
                    <button id="bot-pesq"><img src="../static/img/lupa.png" alt=""></button>
                  </div>
                </form>
              </div>
              <div id="res-pesq">
                <ul>
                  <li class="estq-prod">
                    <div class="img-prod">
                      <img src="../static/img/audaz-removebg-preview.png" alt="" />
                    </div>
                    <hr class="linha-prod" />
                    <div class="info-vend">
                      <div class="info-esq">
                        <div class="nome-prod">
                          <p>Nome do Produto</p>
                        </div>
                        <ul class="info-prod">
                          <li>
                            <p class="npre">Preço:</p>
                            <p class="pre">R$ 000,00</p>
                          </li>
                          <li>
                            <p class="num-prod">Unidades:</p>
                            <p class="nprod">1</p>
                          </li>
                          <li>
                            <p class="categ-prod">Categoria:</p>
                            <p class="cprod">Compressor</p>
                          </li>
                        </ul>
                      </div>
                      <div class="info-dir">
                        <form action="">
                          <div class="status-prod">
                          </div>
                          <div class="mais-det-prod">
                            <div type="" class="bot-md-prod" >
                              <p>Alterar Dados</p>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </li>
                  <li class="estq-prod">
                    <div class="img-prod">
                      <img src="../static/img/audaz-removebg-preview.png" alt="" />
                    </div>
                    <hr class="linha-prod" />
                    <div class="info-vend">
                      <div class="info-esq">
                        <div class="nome-prod">
                          <p>Nome do Produto</p>
                        </div>
                        <ul class="info-prod">
                          <li>
                            <p class="npre">Preço:</p>
                            <p class="pre">R$ 000,00</p>
                          </li>
                          <li>
                            <p class="num-prod">Unidades:</p>
                            <p class="nprod">1</p>
                          </li>
                          <li>
                            <p class="categ-prod">Categoria:</p>
                            <p class="cprod">Compressor</p>
                          </li>
                        </ul>
                      </div>
                      <div class="info-dir">
                        <form action="">
                          <div class="status-prod">
                          </div>
                          <div class="mais-det-prod">
                            <div type="" class="bot-md-prod" >
                              <p>Alterar Dados</p>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </li>
                  <li class="estq-prod">
                    <div class="img-prod">
                      <img src="../static/img/audaz-removebg-preview.png" alt="" />
                    </div>
                    <hr class="linha-prod" />
                    <div class="info-vend">
                      <div class="info-esq">
                        <div class="nome-prod">
                          <p>Nome do Produto</p>
                        </div>
                        <ul class="info-prod">
                          <li>
                            <p class="npre">Preço:</p>
                            <p class="pre">R$ 000,00</p>
                          </li>
                          <li>
                            <p class="num-prod">Unidades:</p>
                            <p class="nprod">1</p>
                          </li>
                          <li>
                            <p class="categ-prod">Categoria:</p>
                            <p class="cprod">Compressor</p>
                          </li>
                        </ul>
                      </div>
                      <div class="info-dir">
                        <form action="">
                          <div class="status-prod">
                          </div>
                          <div class="mais-det-prod">
                            <div type="" class="bot-md-prod" >
                              <p>Alterar Dados</p>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div id="cad-prod">
              <div class="nome-func">
                <h4 id="cadastro-prod">Cadastrar Produtos</h4>
                <form action="">
                  <div id="tudo">
                    <div id="imagem" >
                      <form action="" method="post" enctype="multipart/form-data">
                        <label class="p" for="img-file">Escolha a imagem aqui</label>
                        <input type="file" id="img-file">
                      </form>
                    </div>
                    <div id="esquerda">
                      <div id="esquerda2">
                        <div id="coluna1">
                          <form action="">
                            <p class="p">Id do produto</p>
                            <input type="text" id="id-prod" class="dentro">
                          </form>
                          <form action="">
                            <p class="p">Nome/Modelo do produto</p>
                            <input type="text" id="nome" class="dentro">
                          </form>
                          <form action="">
                            <p class="p">Marca</p>
                            <input type="text" id="marca" class="dentro">
                          </form>
                        </div>
                        <div id="coluna2">
                          <form action="">
                            <p class="p">Categoria do produto</p>
                            <input type="text" id="categ-prod" class="dentro">
                          </form>
                          <form action="">
                            <p class="p">Preço</p>
                            <input type="text" id="prec" class="dentro">
                          </form>
                          <form action="">
                            <p class="p">Quantidade</p>
                            <input type="number" id="quant" class="dentro">
                          </form>
                        </div>
                      </div>
                      <div id="enviar">
                        <form action="">
                          <input type="submit" value="Cadastrar" id="cadastrar">
                        </form>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer id="rodape">
        <hr />
        <h2>Informações</h2>
        <ul id="rod-list">
          <li id="contatos">
            <h3>Contatos</h3>
            <ul>
              <li>
                <img src="../static/img/telefone.png" alt="imagem" />
                <a href="">
                  <p style="margin-top: 26px">Telefone</p>
                </a>
              </li>
              <li>
                <img src="../static/img/celular.png" alt="imagem" style="width: 60px" />
                <a href="">
                  <p style="margin-top: 30px">Celular</p>
                </a>
              </li>
              <li style="margin-top: 30px">
                <img src="../static/img/o-email.png" alt="imagem" style="height: 50px" />
                <a href="mailto:kagemanutencaogv@gmail.com">
                  <p style="margin-left: 20px">E-mail</p>
                </a>
              </li>
            </ul>
          </li>
          <li id="sociais">
            <h3>Redes Sociais</h3>
            <ul>
              <li>
                <img src="../static/img/instagram.png" alt="logo do Instagram" />
                <a href="https://www.instagram.com/kage_cm/" target="blank"
                  >Instagram</a
                >
              </li>
              <li>
                <img src="../static/img/facebook.png" alt="logo do Facebook" />
                <a href="">Facebook</a>
              </li>
              <li>
                <img src="../static/img/whatsapp.png" alt="logo do TikTok" />
                <a href="https://wa.me/+5533987147566" target="_blank"
                  >WhatsApp</a
                >
              </li>
            </ul>
          </li>
          <li id="info">
            <h3>Quem Somos Nós?</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio amet
              quia suscipit nisi aspernatur velit inventore nobis. Odio amet quia
              suscipit nisi ipsum dolor sit amet consectetur, adipisicing elit
            </p>
            <div>
              <button>
                <a href="quem_somos_nos.html">Saiba Mais</a>
              </button>
            </div>
          </li>
          <li id="pagam">
            <h3>Formas de Pagamento</h3>
            <ul>
              <div>
                <li>
                  <img src="" alt="Forma de Pagamento" />
                </li>
                <li>
                  <img src="" alt="Forma de Pagamento" />
                </li>
              </div>
              <div>
                <li>
                  <img src="" alt="Forma de Pagamento" />
                </li>
                <li>
                  <img src="" alt="Forma de Pagamento" />
                </li>
              </div>
              <div>
                <li>
                  <img src="" alt="Forma de Pagamento" />
                </li>
                <li>
                  <img src="" alt="Forma de Pagamento" />
                </li>
              </div>
            </ul>
            <div>
              <button>
                <a href="">Saiba Mais</a>
              </button>
            </div>
          </li>
        </ul>
      </footer>
</body>
</html>