{% extends "layout.html" %}

  {% block div %}
    <section id="geral">
      <div id="inicio">
        <img src="../static/img/engrenagem.png" alt="engrenagem" id="engrenagem" />
        <h2>Meu carrinho</h2>
      </div>
      <div id="div-geral">
        <div id="tudo">
          <div id="prod">
            <div id="cima">
              <p class="pri">Itens</p>
              <p class="seg">Preço</p>
              <p class="ter">Quantidade</p>
              <p class="quar">Excluir</p>
              <br />
              <hr />
            </div>
            <div id="baixo">
        
              <ul type="none" id="ul-grupo">
                {% for i in range(0, tamanho) %}
                {% set prod = prods[i] %}
                {% set quant_prod = quant[i] %}
                  <div class="grupo">
                    <li class="linha">
                      <div class="pri">
                        <a href="#">
                          <img
                            id="img-prod"
                            src="{{prod[6]}}"
                            alt="imagem"
                          />
                        </a>
                        <a href="../html/perfil.html" class="link">
                          <p class="tab" class="nome">
                            {{prod[1]}}
                          </p>
                          <p class="tab" id="pre_ori">R$ {{prod[2]}}</p>
                          <p class="tab" id="pre_atu">R$ {{prod[2]}}</p>
                        </a>
                      </div>
                    </li>
                    <li>
                      <p id="preco" class="seg">R$ {{prod[2]}}</p>
                    </li>
                    <li>
                      <div class="ter" id="mais-menos">
                        <div id="div-bot-mais">
                          <div id="mais" >+</div>
                        </div>
                        <div id="quant">
                          <input type="text" name="valor" value="{{quant_prod}}" size="1" disabled />
                        </div>
                        <div id="div-bot-menos">
                          <div id="menos">-</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <form action="" id="remover-form">
                        <input type="text" value="{{prod[0]}}" name="id_prod" style="display: none;">
                        <bottom id="remover" class="quar">Remover</bottom>
                      </form>
                    </li>
                  </div>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div id="final">
          <div>
            <div id="sub2">
              <p>Subtotal</p>
              <p id="subtotal">R$ {{valor}}</p>
            </div>
            <div id="tot">
              <p>Total</p>
              <p id="total">R$ {{valor}}</p>
            </div>
          </div>
          <div id="finalizar">
            <a href="../html/pagina_inicial.html">Continuar comprando</a>
            <form action="/pag-compra" method="post" id="form-car">
              <div id="div-bot-final">
                <input type="submit" value="Finalizar pedido" id="bot-final"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}