<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../static/img/kage.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/{{file}}.css" />
    <link rel="stylesheet" href="../static/css/layout.css">
    <title>{{titulo}}</title>
  </head>
  <body>
    <div id="head">
      <div id="hsup">
        <div id="cont-sup">
          <header>
            <a href="/">
              <img src="../static/img/engrenagens.png" alt="Imagem da Logo" />
              <h1>Kage</h1>
              <p>- COMÉRCIO E MANUTENÇÃO</p>
            </a>
          </header>
          <div id="nav_pag"></div>
          <div id="func">
            <form action="/produtos" method="post" id="pesquisa">
              <input
                id="campo"
                type="text"
                name="camp_pesq"
                autocomplete="off"
                placeholder=" Pesquisar"
              />
              <button id="botao">
                <img src="../static/img/lupa.png" alt="Botão de pesquisa"/>
              </button>
            </form>
          </div>
        </div>

          {% if current_user.is_authenticated %}
            <div id="div-login">
              <a id="login" href="/perfil">
                <div>
                  <img src="../static/img/perfil.png" alt="imagem do login" />
                  <div>
                    <p>Área do Usuário</p>
                  </div>
                </div>
              </a>
              <div id="sair">

                <form action="/logout">
                  <button>
                      <abbr title="Sair"><img id="img-sair" src="../static/img/sair.png" alt=""></abbr>
                  </button>
                </form>
              </div>
            </div>
            
          {% else %}
            <div id="div-login">
              <a id="login" href="/perfil">
                <div>
                  <img src="../static/img/perfil.png" alt="imagem do login" />
                  <div>
                    <p>Olá, faça login!</p>
                  </div>
                </div>
              </a>
              <div id="sair">
                
              </div>
            </div>
          {% endif %}           
      </div>
      <div id="hinf"></div>
    </div>
    {% block div%} {% endblock %}
    <footer id="rodape">
        <hr />
        <h2>Informações</h2>
        <ul id="rod-list">
        <li id="contatos">
            <h3>Contatos</h3>
            <ul>
            <li>
                <img src="../static/img/telefone.png" alt="imagem" />
                <a href="">
                <p id="text-tel">Telefone</p> 
                </a>
            </li>
            <li>
                <img src="../static/img/celular.png" alt="imagem"  />
                <a href="">
                <p id="text-cel">Celular</p>
                </a>
            </li>
            <li>
                <img src="../static/img/o-email.png" alt="imagem" id="email-img" />
                <a href="mailto:kagemanutencaogv@gmail.com">
                <p id="text-email">E-mail</p>
                </a>
            </li>
            </ul>
        </li>
        <li id="sociais">
            <h3>Redes Sociais</h3>
            <ul>
            <li>
                <img src="../static/img/instagram.png" alt="logo do Instagram" />
                <a href="https://www.instagram.com/kage_cm/" target="blank"
                >Instagram</a
                >
            </li>
            <li>
                <img src="../static/img/facebook.png" alt="logo do Facebook" />
                <a href="">Facebook</a>
            </li>
            <li>
                <img src="../static/img/whatsapp.png" alt="logo do TikTok" />
                <a href="https://wa.me/+5533987147566" target="_blank"
                >WhatsApp</a
                >
            </li>
            </ul>
        </li>
        <li id="info">
            <h3>Quem Somos Nós?</h3>
            <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio amet
            quia suscipit nisi aspernatur velit inventore nobis. Odio amet quia
            suscipit nisi ipsum dolor sit amet consectetur, adipisicing elit
            </p>
            <div>
            <button>
                <a href="/quem-somos-nos">Saiba Mais</a>
            </button>
            </div>  
        </li>
        <li id="pagam">
            <h3>Formas de Pagamento</h3>
            <ul>
            <div>
                <li>
                <img src="" alt="Forma de Pagamento" />
                </li>
                <li>
                <img src="" alt="Forma de Pagamento" />
                </li>
            </div>
            <div>
                <li>
                <img src="" alt="Forma de Pagamento" />
                </li>
                <li>
                <img src="" alt="Forma de Pagamento" />
                </li>
            </div>
            <div>
                <li>
                <img src="" alt="Forma de Pagamento" />
                </li>
                <li>
                <img src="" alt="Forma de Pagamento" />
                </li>
            </div>
            </ul>
            <div>
            <button>
                <a href="">Saiba Mais</a>
            </button>
            </div>
        </li>
        </ul>
    </footer>
    {% if filejs == None %}
      
    {% else%}  
      <script src="../static/js/{{filejs}}.js"></script>
    {% endif %}
  </body>
</html>