<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/pagina_de_compra.css" />
    <link rel="shortcut icon" href="../static/img/kage.ico" type="image/x-icon">
    <title>Finalizar Compra</title>
  </head>
  <body>
    <div id="head">
      <div id="hsup">
        <header>
          <a href="/">
            <img src="../static/img/engrenagens.png" alt="Imagem da Logo" />
            <h1>Kage</h1>
            <p>- COMÉRCIO E MANUTENÇÃO</p>
          </a>
        </header>
        <div id="nav_pag"></div>
        <div id="func">
          <form action="/pegando-valores-busca" method="post" id="pesquisa">
            <input
              id="campo"
              type="text"
              name="camp_pesq"
              autocomplete="off"
              placeholder=" Pesquisar"
            />
            <button id="botao">
              <img src="../static/img/lupa.png" alt="Botão de pesquisa"/>
            </button>
          </form>
          <a id="login" href="/perfil">
            <div>
              <img src="../static/img/perfil.png" alt="imagem do login" />
              <div>
                <p>{{texto}}</p>
              </div>
            </div>
          </a>
          <div id="sair">
            {% if ap == True %}
              {% endif %} 
            {%if ap == False %}
            <form action="/logout">
              <button>
                  <abbr title="Sair"><img id="img-sair" src="../static/img/sair.png" alt=""></abbr>
              </button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
      <div id="hinf"></div>
    </div>










    <section>
      <div id="finalizar">
        <h2>Finalizar pedido</h2>
      </div>
      <div id="tudo">  
        <div id="resumo">
          <p id="resumo-pedido">Resumo do pedido</p>
          <div id="scroll">
            <ul type="none">
              {% for i in range(0, tamanho) %}
              {% set dados = prods[i] %}
              {% set quant_prod = quant[i] %}
                <li>
                  <a href="pagina_do_produto.html" class="link">
                    <img src="{{dados[6]}}" alt="imagem" />
                    <p class="nome">{{dados[1]}}</p>
                    <p style="color: black; font-size: 13px;">{{quant_prod}} unidades</p>
                    </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div>
            <div id="finalzin">
              <div id="sub">
                <p class="alinhar">Subtotal</p>
                <p>R$ {{valor}}</p>
              </div>
              <div id="entrega">
                <p class="alinhar">Entrega</p>
                <p>R$ {{frete}}</p>
              </div>
              <div id="tot">
                <p class="alinhar">Total</p>
                <p>R$ {{valor}}</p>
              </div>
              <a href="carrinho.html" id="voltar">Voltar para meu carrinho de compras</a>
            </div>
          </div>
        </div>
        
        <div id="dados">
          <p id="dados-pessoais"> Dados pessoais</p>
          <form action="/entrega-pagamento" method="post">
            <div id="preencher-dados">
              <div id="email" class="linha">
                <label class="nome-input">E-mail</label>
                <input type="text" id="email-preencher" name="email-compra">
              </div> 
              <div class="grupo">
                <div id="nome" class="linha">
                  <label class="nome-input">Nome</label>
                  <input type="text" name="nome-compra">
                </div>
                <div id="sobrenome" class="linha">
                  <label class="nome-input">Sobrenome</label>
                  <input type="text" name="sobrenome-compra">
                </div>
              </div>
              <div class="grupo">
                <div id="cpf" class="linha">
                  <label class="nome-input">CPF</label>
                  <input type="text" placeholder="Somente os números" maxlength="11" name="cpf-compra">
                </div>
                <div id="telefone" class="linha">
                  <label class="nome-input">Telefone</label>
                  <input type="text" name="telefone-compra">
                </div>
              </div>
              <div id="fim">
                <p id="juridica">Incluir dados de pessoa juríca</p>
                <div id="promo">
                  <div action="">
                    <input type="checkbox">
                    <label for="">Quero receber e-mails com promoções.</label>
                  </div>
                </div>
                <div id="entrega-pag" >
                  <input type="submit" value="Ir para entrega e pagamento" id="enviar" >
                </div>
              </div>  
            </div>
            <p style="margin-top: 30px; width: 100%; text-align: center; font-size: 14px;">{{aviso_comp}}</p>
          </form>
        </div>
      </div>
    </section>


















    <footer id="rodape">
      <hr />
      <h2>Informações</h2>
      <ul id="rod-list">
        <li id="contatos">
          <h3>Contatos</h3>
          <ul>
            <li>
              <img src="../static/img/telefone.png" alt="imagem" />
              <a href="">
                <p style="margin-top: 26px">Telefone</p>
              </a>
            </li>
            <li>
              <img src="../static/img/celular.png" alt="imagem" style="width: 60px" />
              <a href="">
                <p style="margin-top: 30px">Celular</p>
              </a>
            </li>
            <li style="margin-top: 30px">
              <img src="../static/img/o-email.png" alt="imagem" style="height: 50px" />
              <a href="mailto:kagemanutencaogv@gmail.com">
                <p style="margin-left: 20px">E-mail</p>
              </a>
            </li>
          </ul>
        </li>
        <li id="sociais">
          <h3>Redes Sociais</h3>
          <ul>
            <li>
              <img src="../static/img/instagram.png" alt="logo do Instagram" />
              <a href="https://www.instagram.com/kage_cm/" target="blank"
                >Instagram</a
              >
            </li>
            <li>
              <img src="../static/img/facebook.png" alt="logo do Facebook" />
              <a href="">Facebook</a>
            </li>
            <li>
              <img src="../static/img/whatsapp.png" alt="logo do TikTok" />
              <a href="https://wa.me/+5533987147566" target="_blank"
                >WhatsApp</a
              >
            </li>
          </ul>
        </li>
        <li id="info">
          <h3>Quem Somos Nós?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio amet
            quia suscipit nisi aspernatur velit inventore nobis. Odio amet quia
            suscipit nisi ipsum dolor sit amet consectetur, adipisicing elit
          </p>
          <div>
            <button>
              <a href="">Saiba Mais</a>
            </button>
          </div>
        </li>
        <li id="pagam">
          <h3>Formas de Pagamento</h3>
          <ul>
            <div>
              <li>
                <img src="" alt="Forma de Pagamento" />
              </li>
              <li>
                <img src="" alt="Forma de Pagamento" />
              </li>
            </div>
            <div>
              <li>
                <img src="" alt="Forma de Pagamento" />
              </li>
              <li>
                <img src="" alt="Forma de Pagamento" />
              </li>
            </div>
            <div>
              <li>
                <img src="" alt="Forma de Pagamento" />
              </li>
              <li>
                <img src="" alt="Forma de Pagamento" />
              </li>
            </div>
          </ul>
          <div>
            <button>
              <a href="">Saiba Mais</a>
            </button>
          </div>
        </li>
      </ul>
    </footer>
  </body>
</html>