{% extends "layout.html" %}

  {% block div%}
    <section id="area-dados">
      <div id="nome-pag">
        <img src="../static/img/engrenagem.png" alt="" />
        <h2>Área Restrita</h2>
      </div>
    </section>
    <section id="usab">
      <div id="top"> 
        <div id="tit">
          <h3>Painel de Controle</h3>
        </div>
        <div id="categ">
          <div id="nav_site">
            <div id="l3" href="">
              <p>Serviços</p>
            </div>
            <div id="l2" href="">
              <p>Histórico</p>
            </div>
            <div id="l4" href="">
              <p>Carrinho</p>
            </div>
            <div id="l1" href="">
              <p style="margin: 0px; font-size: 14px">Informações pessoais</p>
            </div>
          </div>
        </div>
        <hr id="linha" />
      </div>
      <div id="funcoes">
        <div id="servic">
          <div class="nome-func">
            <h4>Serviços</h4>
          </div>
          <div id="serv-prest">
            <div id="num-serv">
              <p>Serviços sendo prestados:</p>
            </div>
            <ul id="list-serv">
              {% for pos in range(0,num_serv) %}

                {% set servico = servicos[pos]%}
                {% set id_bot = 'bot{}'.format(pos+1)%}
                {% set id_sec = 'serv{}'.format(pos+1)%}
                {% set id_oc = 'oc{}'.format(pos+1)%}
                {% set id_seta = 'seta{}'.format(pos+1)%}
                {% set id_tbot = 'tbot{}'.format(pos+1)%}
                <li class="serv" id="{{id_sec}}">
                  <div class="nome-maq">
                    <p>{{servico[3]}}</p>
                  </div>
                  <div class="info">
                    <ul class="inf1">
                      <li class="nuos"><p>Número da OS:</p><p class="nuosc">{{servico[0]}}</p></li>
                      <li class="val"><p>Valor:</p><p class="valc">{{servico[5]}}</p></li>
                      <div class="ocult" id="{{id_oc}}">
                        <li class="cat"><p>Categoria:</p><p class="categc">{{servico[8]}}</p></li>
                        <li class="marc"><p>Marca:</p><p class="marcc">{{servico[4]}}</p></li>
                      </div>
                    </ul>
                    <div class="inf2">  
                      <div class="status">
                        <p id="st">Status:</p>
                        <img src="../static/img/circulo-vermei.png" alt="cor" />
                        <p>{{servico[7]}}</p>
                      </div>
                      <div class="explic">
                        <p>
                          * Máquina se encontra em análise e o orçamento está sendo feito.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="mais-det">
                    <div class="bot-md" id="{{id_bot}}">
                      <p id="{{id_tbot}}">Mais Detalhes</p>
                      <img src="../static/img/seta-baixo.png" alt="seta" id="{{id_seta}}"/>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div id="hist">
          <div class="nome-func">
            <h4>Histórico</h4>
          </div>
          <div id="hist-comp">
            <p>Últimas Compras:</p>
          </div>
          <div id="list-comp">
            <ul>
              {% for c in range(0, num_prods) %}
                {% set dados_prod = prods[c] %}
                <li class="prod-hist">
                  <div class="img-prod">
                    <img src="{{dados_prod[5]}}" alt="" />
                  </div>
                  <hr class="linha-prod" />
                  <div class="info-hist">
                    <div class="info-esq">
                      <div class="nome-prod">
                        <p>{{dados_prod[1]}}</p>
                      </div>
                      <ul class="info-prod">
                        <li>
                          <p class="npre">Preço:</p>
                          <p class="pre">R$ {{dados_prod[2]}}</p>
                        </li>
                        <li>
                          <p class="num-prod">Unidades:</p>
                          <p class="nprod">1</p>
                        </li>
                        <li>
                          <p class="categ-prod">Categoria:</p>
                          <p class="cprod">Compressor</p>
                        </li>
                      </ul>
                    </div>
                    <div class="info-dir">
                      <div class="status-prod">
                        <p class="tit-stat">Status:</p>
                        <p class="cont-stat">Aguardando confirmação</p>
                      </div>
                      
                      <div class="mais-det-prod">
                        <button class="bot-md-prod" id="bot1-prod">
                          <p id="tbot1">Mais Detalhes</p>
                          <img src="../static/img/seta-baixo.png" alt="seta" />
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              {% endfor %}  
            </ul>
          </div>
        </div>
        <div id="carr">
          <div class="nome-func">
            <h4>Carrinho</h4>
          </div>
          <div id="div-geral">
            <div id="tudo">
              <div id="prod">
                <div id="cima">
                  <p class="pri">Itens</p>
                  <p class="seg">Preço</p>
                  <p class="ter">Quantidade</p>
                  <p class="quar">Excluir</p>
                  <br />
                  <hr />
                </div>
                <div id="baixo">
            
                  <ul type="none" id="ul-grupo">
                    {% for i in range(0, tamanho) %}
                    {% set prod = prods_carr[i] %}
                    {% set quant_prod = quant_prod[i] %}
                      <div class="grupo">
                        <li class="linha">
                          <div class="pri">
                            <a href="#">
                              <img
                                id="img-prod"
                                src="{{prod[5]}}"
                                alt="imagem"
                              />
                            </a>
                            <a href="../html/perfil.html" class="link">
                              <p class="tab" class="nome">
                                {{prod[1]}}
                              </p>
                              <p class="tab" id="pre_ori">R$ {{prod[2]}}</p>
                              <p class="tab" id="pre_atu">R$ {{prod[2]}}</p>
                            </a>
                          </div>
                        </li>
                        <li>
                          <p id="preco" class="seg">R$ {{prod[2]}}</p>
                        </li>
                        <li>
                          <div class="ter" id="mais-menos">
                            <div id="div-bot-mais">
                              <div id="mais" >+</div>
                            </div>
                            <div id="quant">
                              <input type="text" name="valor" value="{{quant_prod}}" size="1" disabled />
                            </div>
                            <div id="div-bot-menos">
                              <div id="menos">-</div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <form action="" id="remover-form">
                            <input type="text" value="{{prod[0]}}" name="id_prod" style="display: none;">
                            <bottom id="remover" class="quar">Remover</bottom>
                          </form>
                        </li>
                      </div>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div id="final">
              <div>
                <div id="sub2">
                  <p>Subtotal</p>
                  <p id="subtotal">R$ {{valor}}</p>
                </div>
                <div id="tot">
                  <p>Total</p>
                  <p id="total">R$ {{valor}}</p>
                </div>
              </div>
              <div id="finalizar">
                <a href="../html/pagina_inicial.html">Continuar comprando</a>
                <form action="/pag-compra" method="post" id="form-car">
                  <div id="div-bot-final">
                    <input type="submit" value="Finalizar pedido" id="bot-final"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div id="dados">
          <div class="nome-func">
            <h4>Informações Pessoais</h4>
          </div>
          <div id="cont-dados">
            <ul id="list-dados">
              {%for dado in dados%}
                <div id="dpa">
                  <h4>Dados Pessoais e de Acesso</h4>
                  <div id="cont">
                    <li>
                      <p>Email:</p><p class="dado">{{dado[0]}}</p>
                    </li>
                    <li>
                      <p>Nome:</p><p class="dado">{{dado[1]}}</p>
                    </li>
                    <li>
                      <p>CPF:</p><p class="dado">{{dado[3]}}</p>
                    </li>
                  </div>
                </div>
                <div id="end">
                  <h4>Endereço</h4>
                  <div id="cont">
                    <li>
                      <p>Estado:</p><p class="dado">{{dado[4]}}</p>
                    </li>
                    <li>
                      <p>Cidade:</p><p class="dado">{{dado[5]}}</p>
                    </li>
                    <li>
                      <p>Bairro:</p><p class="dado">{{dado[6]}}</p>
                    </li>
                    <li>
                      <p>Rua:</p><p class="dado">{{dado[7]}}</p>
                    </li>
                    <li>
                      <p>Número:</p><p class="dado">{{dado[8]}}</p>
                    </li>
                    <li>
                      <p>Complemento:</p><p class="dado">{{dado[9]}}</p>
                    </li>
                  </div>
                </div>
              {% endfor %}
            </ul>
          </div>
          <div id="alt-dados">
            <a href="/alt-dados">
              <p>Atualizar Dados</p>
            </a>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}  