{% extends "layout.html" %}

    {% block div%}
    <section id="cont">
        <div id="tit">
            <img src="../static/img/engrenagem.png" alt="">
            <h2>Quem Somos Nós</h2>
        </div>
        <div id="linha">
            <hr>
        </div>
        <div id="gp1">
            <h3>BUSCANDO SEMPRE A SATISFAÇÃO DOS CLIENTES</h3>
            <div id="cont-gp">
                <div id="pesq">
                
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error maiores quisquam quibusdam iusto corrupti exercitationem non magni modi, deleniti neque dolorem omnis, nostrum saepe! Quam rerum nesciunt excepturi debitis tenetur! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio,
                    </p>
                </div>
                <div id="pdir">
                    <img src="../static/img/caixa-de-ferramentas.png" alt="">
                </div>
            </div>
        </div>
        <div id="gp2">
            <h3>VISANDO A QUALIDADE E A TRANSPARÊNCIA</h3>
            <div id="cont-gp">
                <div id="pesq2">
                    <img src="../static/img/mecanismo.png" alt="">
                </div>
                <div id="pdir2">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit sed consectetur atque placeat odio a iusto dolores iure tenetur illo quae voluptatum delectus, unde impedit ex praesentium aperiam dolore quas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, tempora omnis fugit modi,
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}