<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/kage.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/quem_somos_nos.css">
    <title>Quem Somos Nós</title>
</head>
<body>
    <div id="head">
        <div id="hsup">
            <header>
                <a href="/">
                    <img src="../static/img/engrenagens.png" alt="Imagem da Logo" />
                    <h1>Kage</h1>
                    <p>- COMÉRCIO E MANUTENÇÃO</p>
                </a>
            </header>
            <div id="nav_pag">

            </div>
            <div id="func">
                <form action="/pegando-valores-busca" method="post" id="pesquisa">
                    <input
                      id="campo"
                      type="text"
                      name="camp_pesq"
                      autocomplete="off"
                      placeholder=" Pesquisar"
                    />
                    <button id="botao">
                      <img src="../static/img/lupa.png" alt="Botão de pesquisa"/>
                    </button>
                </form>
                <a id="login" href="/perfil">
                    <div>
                      <img src="../static/img/perfil.png" alt="imagem do login" />
                      <div>
                        <p>{{texto}}</p>
                      </div>
                    </div>
                </a>
                <div id="sair">
                    {% if ap == True %}
                      {% endif %} 
                    {%if ap == False %}
                    <form action="/logout">
                      <button>
                          <abbr title="Sair"><img id="img-sair" src="../static/img/sair.png" alt=""></abbr>
                      </button>
                    </form>
                    {% endif %}
                  </div>
            </div>
        </div>
        <div id="hinf">

        </div>
    </div>
    <section id="cont">
        <div id="tit">
            <img src="../static/img/engrenagem.png" alt="">
            <h2>Quem Somos Nós</h2>
        </div>
        <div id="linha">
            <hr>
        </div>
        <div id="gp1">
            <div id="pesq">
                <h3>BUSCANDO SEMPRE A SATISFAÇÃO DOS CLIENTES</h3>
                <p> 
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error maiores quisquam quibusdam iusto corrupti exercitationem non magni modi, deleniti neque dolorem omnis, nostrum saepe! Quam rerum nesciunt excepturi debitis tenetur! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, 
                </p>
            </div>
            <div id="pdir">
                <img src="../static/img/caixa-de-ferramentas.png" alt="">
            </div>
        </div>
        <div id="gp2">
            <div id="pesq2">
                <img src="../static/img/mecanismo.png" alt="">
            </div>
            <div id="pdir2">
                <div id="tgp">
                    <h3>VISANDO A QUALIDADE E A TRANSPARÊNCIA</h3>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit sed consectetur atque placeat odio a iusto dolores iure tenetur illo quae voluptatum delectus, unde impedit ex praesentium aperiam dolore quas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, tempora omnis fugit modi, 
                </p>
            </div>
        </div>
    </section>
    <footer id="rodape">
        <hr/>
        <h2>Informações</h2>
        <ul id="rod-list">
            <li id="contatos">
                <h3>Contatos</h3>
                <ul>
                <li>
                    <img src="../static/img/telefone.png" alt="imagem" />
                    <a href="">
                        <p style="margin-top: 26px">Telefone</p>
                    </a>
                </li>
                <li>
                    <img src="../static/img/celular.png" alt="imagem" style="width: 60px" />
                    <a href="">
                        <p style="margin-top: 30px">Celular</p>
                    </a>
                </li>
                <li style="margin-top: 30px">
                    <img src="../static/img/o-email.png" alt="imagem" style="height: 50px" />
                    <a href="mailto:kagemanutencaogv@gmail.com">
                        <p style="margin-left: 20px">E-mail</p>
                    </a>
                </li>
                </ul>
            </li>
            <li id="sociais">
                <h3>Redes Sociais</h3>
                <ul>
                    <li>
                        <img src="../static/img/instagram.png" alt="logo do Instagram" />
                        <a href="https://www.instagram.com/kage_cm/" target="blank"
                        >Instagram</a
                        >
                    </li>
                    <li>
                        <img src="../static/img/facebook.png" alt="logo do Facebook" />
                        <a href="">Facebook</a>
                    </li>
                    <li>
                        <img src="../static/img/whatsapp.png" alt="logo do TikTok" />
                        <a href="https://wa.me/+5533987147566" target="_blank"
                        >WhatsApp</a
                        >
                    </li>
                </ul>
            </li>
            <li id="info">
                <h3>Quem Somos Nós?</h3>
                <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio amet
                quia suscipit nisi aspernatur velit inventore nobis. Odio amet quia
                suscipit nisi ipsum dolor sit amet consectetur, adipisicing elit
                </p>
                <div>
                    <button>
                        <a href="">Saiba Mais</a>
                    </button>
                </div>
            </li>
            <li id="pagam">
                <h3>Formas de Pagamento</h3>
                <ul>
                    <div>
                        <li>
                            <img src="" alt="Forma de Pagamento" />
                        </li>
                        <li>
                            <img src="" alt="Forma de Pagamento" />
                        </li>
                    </div>
                    <div>
                        <li>
                            <img src="" alt="Forma de Pagamento" />
                        </li>
                        <li>
                            <img src="" alt="Forma de Pagamento" />
                        </li>
                    </div>
                    <div>
                        <li>
                            <img src="" alt="Forma de Pagamento" />
                        </li>
                        <li>
                            <img src="" alt="Forma de Pagamento" />
                        </li>
                    </div>
                </ul>
                <div>
                    <button>
                        <a href="">Saiba Mais</a>
                    </button>
                </div>
            </li>
        </ul>
    </footer>
</body>
</html>