{% extends "layout.html"%}

{% block  div%}
    <section id="func-serv">
        <div id="nome-pag">
            <img src="../static/img/engrenagem.png" alt="Engrenagem">
            <h2>Serviço</h2>
        </div>
        <div id="categ">
            <div id="nav_site">
              <div id="l1" href="">
                <p>Manutenção</p>
              </div>
              <div id="l2" href="">
                <p>Instalação</p>
              </div>
              <div id="l3" href="">
                <p>Montagem</p>
              </div>
            </div>
            <hr id="linha" /> 
          </div>
        <div id="funcoes">
            <div id="manut">
                <div class="nome-func">
                    <h3>Manutenção</h3>
                </div>
                <div id="form-manut">
                    <form action="/insert-serv" method="post" id="manut-f">
                        <input type="text" name="type-serv" style="display: none;" value="Manutenção">
                        <input type="text" name="quant-serv" value="1" style="display: none;" id="quant-manut">
                        <div class="cliente">
                            <div id="dados-cliente">
                                <label>Nome do Cliente</label>
                                <input type="text" name="cliente">
                            </div>
                        </div>
                        <div id="maquinas">
                            <div class="if" id="info-manut">
                                <div id="top">
                                    <div id="model">
                                        <label>1. Nome/Modelo da Máquina</label>
                                        <input type="text" name="mod-maq1">
                                    </div>
                                </div>
                                <div class="probl">
                                    <div class="detal">
                                        <div>
                                            <label>Detalhamento do Problema</label>
                                        </div>
                                        <div>
                                            <textarea name="detal1" id="det-probl" cols="105" rows=20" maxlength="255" ></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="if" id="info-manut2">
                                <div id="top">
                                    <div id="model">
                                        <label>2. Nome/Modelo da Máquina</label>
                                        <input type="text" name="mod-maq2">
                                    </div>
                                </div>
                                <div class="probl">
                                    <div class="detal">
                                        <div>
                                            <label>Detalhamento do Problema</label>
                                        </div>
                                        <div>
                                            <textarea name="detal2" id="det-probl2" cols="105" rows=20" maxlength="255" ></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="if" id="info-manut3">
                                <div id="top">
                                    <div id="model">
                                        <label>3. Nome/Modelo da Máquina</label>
                                        <input type="text" name="mod-maq3">
                                    </div>
                                </div>
                                <div class="probl">
                                    <div class="detal">
                                        <div>
                                            <label>Detalhamento do Problema</label>
                                        </div>
                                        <div>
                                            <textarea name="detal3" id="det-probl3" cols="105" rows=20"  maxlength="255"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="if" id="info-manut4">
                                <div id="top">
                                    <div id="model">
                                        <label>4. Nome/Modelo da Máquina</label>
                                        <input type="text" name="mod-maq4">
                                    </div>
                                </div>
                                <div class="probl">
                                    <div class="detal">
                                        <div>
                                            <label>Detalhamento do Problema</label>
                                        </div>
                                        <div>
                                            <textarea name="detal4" id="det-probl4" cols="105" rows=20"  maxlength="255"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="if" id="info-manut5">
                                <div id="top">
                                    <div id="model">
                                        <label>5. Nome/Modelo da Máquina</label>
                                        <input type="text" name="mod-maq5">
                                    </div>
                                </div>
                                <div class="probl">
                                    <div class="detal">
                                        <div>
                                            <label>Detalhamento do Problema</label>
                                        </div>
                                        <div>
                                            <textarea name="detal5" id="det-probl5" cols="105" rows=20"  maxlength="255"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                
                        <div class="botoes">
                            <div id="sup-bot">
                                <div class="add">
                                    <div id="botao-add" ><p>Adicionar Máquina</p></div>
                                </div>
                                <div class="rev" id="rev">
                                    <div id="botao-rev"><p>Remover Máquina</p></div>
                                </div>
                                <div class="enviar">
                                    <input type="submit">
                                </div>
                            </div>
                            <p id="aviso"></p>
                        </div>
                    </form>
                </div>
            </div>
            <div id="instal">
                <div class="nome-func">
                    <h3>Instalação</h3>
                </div>
                <div id="form-inst">
                    <form action="/insert-serv" method="post">
                        <input type="text" name="type-serv" style="display: none;" value="Instalação">
                        <input type="text" name="quant-serv" value="1" style="display: none;" id="quant-inst">
                        <div id="cliente">
                            <div id="dados-cliente">
                                <label>Nome do Cliente</label>
                                <input type="text" name="cliente">
                            </div>
                        </div>
                        <div id="dados-inst">
                            <div id="info-inst">
                                <div>
                                    <label>Detalhamento da Instalação</label>
                                </div>
                                <div>
                                    <textarea name="" id="" cols="105" rows="15" maxlength="255"></textarea>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="enviar-inst">
                                <input type="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="mont">
                <div class="nome-func">
                    <h3>Montagem</h3>
                </div>
                <div id="form-mont">
                    <form action="insert-serv" method="post">
                        <input type="text" name="type-serv" style="display: none;" value="Montagem">
                        <input type="text" name="quant-serv" value="1" style="display: none;" id="quant-mont">
                        <div id="cliente">
                            <div id="dados-cliente">
                                <label>Nome do Cliente</label>
                                <input type="text" name="cliente">
                            </div>
                        </div>
                        <div id="info-mont">
                            <div id="top-mont">
                                <div id="model-mont">
                                    <label>Nome/Modelo da Máquina</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div id="probl-mont">
                                <div id="detal-mont">
                                    <div>
                                        <label>Detalhamento da Montagem</label>
                                    </div>
                                    <div>
                                        <textarea name="" id="" cols="105" rows=20" maxlength="255"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="botoes">
                            <div id="sup-bot">
                                <div class="add">
                                    <div id="botao-add-mont">Adicionar Máquina</div>
                                </div>
                                <div class="enviar">
                                    <input type="submit">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}